/* Generic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Nothing to do with demo */
.heading {
    padding: 20px 0;
    background-color: rgb(40,40,40);
    color: rgb(230,230,230);
    text-align: center;
}




/** Reset elements **/
.swgl-slideshow,
.swgl-gallery,
.gallery-img,
.slideshow-wrapper,
.slides-container,
.swgl-slide,
.swgl-prev, .swgl-next,
.dot-nav,
.swgl-dot,
.swgl-dot img{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================================
    Slideshow(both in place lightbox)
========================================== */
/* Lightbox background */
#swgl-overlay{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.91);
}
/* Inline slideshow  */
.swgl-gallery {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
.swgl-lightbox-slideshow {
    height: 100%;
}
.swgl-slideshow{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    
    z-index: 50;
}
.swgl-slideshow .swgl-slide img{
    max-height: 98%;
    max-width: 98%;
}

/* ===========================
    Slide container and slides
============================ */
.swgl-imgs-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swgl-slide{
    display: none;
    align-items: center;
    justify-content: center;
}
.swgl-slide img {
    max-width: 100%;
    display: block;
    min-width: 1px;
    min-height: 1px;
}

.swgl-lightbox-slideshow .swgl-imgs-wrap, 
.swgl-lightbox-slideshow .swgl-slide{
    height: 100%;
}

/* ======================
    Slideshow close btn
====================== */
.swgl-x-btn{
    z-index: 1000;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 10px 10px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 35px;
}
.swgl-btn-bar {
    width: 26px;
    height: 3px;
    display: block;
    background: rgb(215,215,215);
    z-index: 100;
    transform-origin: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50% ) rotate(45deg);
    border-radius: 10px;
    overflow: hidden;
}
.swgl-btn-bar:last-child {
    transform: translate(-50% ) rotate(-45deg);
}


/* ===========================
    Slideshow nav arrows
============================ */
.swgl-prev, 
.swgl-next{
    /*z-index keeps arrows above fade effect*/
    z-index: 100;
    cursor: pointer;
    position: absolute;
    width: 30%;
    top: 50%;
    padding: 20% 30px;
    color: rgba(10,10,10,.6);
    font-size: 30px;
    transform: translateY(-50%);
    transition: color .2s ease 0s;
    border-width: 0;
    border-color: rgba(255,255,255,0) !important;
}
.swgl-next{
    text-align: right;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.swgl-prev:hover, 
.swgl-next:hover{
    color: rgba(0,0,0,.9);
}



.swgl-lightbox-slideshow .swgl-prev, 
.swgl-lightbox-slideshow .swgl-next {
    color: rgba(255,255,255,.5);
    
}

.swgl-lightbox-slideshow .swgl-prev:hover, 
.swgl-lightbox-slideshow .swgl-next:hover {
    color: rgba(255,255,255,.9);
    
}


/* ===========================
    Slideshow nav Dots
============================ */
.dot-nav{
    position: absolute;
    z-index: 100;
    bottom:15px;
    width: 100%;
    text-align: center;
    /*Keeps dots from crowding images on a small screen*/
    display: none;
}
.swgl-dot{
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 5px;
    background-color: rgba(100,100,100,.6);
    border-radius: 50%;
    border: 2px solid rgba(240,240,240,.7);
    display: inline-block;
    transition: background-color 300ms ease 0s;
}
.active-dot, .swgl-dot:hover{
    background-color: #353535;
}

/* Breakpoint for minimum size to show dots */
@media screen and (min-width: 750px){
    .dot-nav{
        display: block;
    }
}


/* =========================================
    Slideshow animation
========================================== */

/* **** Animation for slide change */
.swgl-fade{
    animation-name: slideshow-fade;
    animation-duration: .5s; 
}
@keyframes slideshow-fade{
    from {opacity: .7 }
    to { opacity: 1 }
}


/* =========================================
    Gallery
========================================== */
.swgl-gallery{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
/* These four lines are incredibly useful for flexbox, by the way.
 Kudos to https://stackoverflow.com/a/34816625*/
.swgl-gallery:after {
    content: "";
    display: inline-block;
    flex: auto;
}
.gallery-img{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* =========================================
    Gallery image sizes
========================================== */
/* TODO make consistent ratio */

/* 2 columns */
.gallery-img {
    width: 49.57%;
    padding-top: 35%;
    margin: .2%;
}

/* 3 columns */
@media screen and (min-width: 500px){
    /*Setting height by padding-top maintains aspect ratio when window is resized*/
    .gallery-img{
        width: 33.1%;
        padding-top: 23.3709%;
        margin: .1%;
    }
}
/* 4 columns */
@media screen and (min-width: 700px){
    /*Setting height by padding-top maintains aspect ratio when window is resized*/
    .gallery-img{
        width: 24.8%;
        padding-top: 17.5105%;
        margin: .1%;
    }
}
/* 5 columns */
@media screen and (min-width: 800px){
    /*Setting height by padding-top maintains aspect ratio when window is resized*/
    .gallery-img{
        width: 19.8%;
        padding-top: 13.9802%;
        margin: .1%;
    }
}
/* 6 columns */
@media screen and (min-width: 1200px){
    /*Setting height by padding-top maintains aspect ratio when window is resized*/
    .gallery-img{
        width: 16.5%;
        padding-top: 11.6501%;
        margin: .082%;
    }
}
